<div class="sidebar">
  <ul>
    <li>
      <i class="material-icons">face</i>
      <a routerLink="/helloworld">Hello World</a>
    </li>
    <li>
      <i class="material-icons">list</i>
      <a routerLink="/todos">Todos</a>
    </li>
    <li>
      <i class="material-icons">exposure</i>
      <a routerLink="/counter">Counter</a>
    </li>
    <li>
      <i class="material-icons">lock</i>
      <a routerLink="/secret">Secret</a>
    </li>
    <li>
      <i class="material-icons">book</i>
      <a routerLink="/rxjs">RXJS</a>
    </li>
  </ul>
</div>
